torch
torchaudio
torchvision
x-transformers
tensorboard
Unidecode
torchmetrics
pandas
inflect
g2p_en
transformers
openai-whisper
tqdm
chainer
editdistance
gdown
scoreq
hydra-core
jiwer
librosa
matplotlib
numpy<2.0.0
omegaconf
requests
scipy
sentencepiece
six
soundfile
onnxruntime-gpu

# חבילות מיוחדות (Git/URL)
git+https://github.com/Takaaki-Saeki/DiscreteSpeechMetrics.git
https://github.com/vBaiCai/python-pesq/archive/master.zip